## Python Basic Programming Exercises

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [1]:
# Saving the value in x.
x = 5 + 4 * 9 % (3 + 1) / 6 - 1

# Printing the output
print(x)

4.0

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [3]:
# Taking the input from the user and saving in x
x = int(input('Enter the number to check if it is Even or Odd :'))

# Checking if the number provided by the user is even or odd
if x % 2 == 0:
    
    # It will print if the number is Even
    print('It is a Even Number')
else:
    
    # It will print if the number is Even
    print('It is a Odd Number')

Enter the number to check if it is Even or Odd :5
It is a Odd Number

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [2]:
# Taking the input from the user and saving in x
x = int(input('Enter the Number for its Multiplication table :'))

# Looping and printing the values until it reachs maximum range
for i in range(1,11):
    print(x,'*',i,'=',x * i)

Enter the Number for its Multiplication table :5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [5]:
print('Printing Numbers which are divisible by 7 between 2000 and 3200\n\n')

# we take the range as 3201 because in 'range' 3200 is excluded
# A new list is created when the the number in range meets the condition provided
ls = [i for i in range(2000,3201) if i % 7 == 0 and i % 5 != 0]

# Printing the list
print(ls)

Printing Numbers which are divisible by 7 between 2000 and 3200


[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [39]:
# List provided in the question
L = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

#Creates a list with only boolean type
B = [i for i in L if type(i) == bool]
print('Total Count of Boolean Datatype are : ',len(B))


#Creates a List with only String type
S = [i for i in L if type(i) == str]
print('Total count of String Datatype are  : ',len(S))


#Creates a list with only integer type
I = [i for i in L if type(i) == int]
print('Total count of Integer Datatype are : ',len(I))


#Creates a list with only Float type
F = [i for i in L if type(i) == float]
print('Total count of Float Datatype are   : ',len(F))


#Creates a List with only None type
N = [i for i in L if type(i) == type(None)]
print('Total count of None Datatype are    : ',len(N))

Total Count of Boolean Datatype are :  1
Total count of String Datatype are  :  4
Total count of Integer Datatype are :  5
Total count of Float Datatype are   :  1
Total count of None Datatype are    :  1

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [3]:
# List provided in the question
List = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

#Creates a new list Sum to group int data types
Sum = [i for i in List if type(i) == int]

#Creates a new list Flt to group Float data types
Flt = sum([i for i in List if type(i) == float])

#Joining both int and float as one list
Sum.append(Flt)

#adding the values in the list
S = sum(Sum)

print(S)

21.5

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [53]:
# List provided in the question
List = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

#A new list is created when the given is passed through and 
Str = [i for i in List if type(i) == str]
'-'.join(Str)

'Py-10-SQL-John'

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [11]:
# Defining a Function to count length of String Datatype
def Len_Str(List):
    Str = [i for i in List if type(i) == str]
    return len(Str)

# Defining a Function to Concatnate all String Datatype
def Sum_Str(List):
    Sum = [i for i in List if type(i) == str]
    return '.'.join(Sum)

# List provided in the question     
Li = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

# Printing the Sum of Strings and Count of strings
print('Sum : ',Sum_Str(Li), 'Count_of_Strs :',Len_Str(Li))

Sum :  Py.10.SQL.John Count_of_Strs : 4

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [50]:
# i. Use loops to get the answer
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

a = len(li)
i = 0

odd = []

for i in range(a):
    if li[i] % 2 != 0:
        odd.append(li[i])
print(odd)

[5, 7, 97, 77, 23, 73, 61]

In [12]:
# ii. Use list comprehensions

li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

odd_list = [i for i in li if i %2 != 0]

print(odd_list)

[5, 7, 97, 77, 23, 73, 61]

In [13]:
# iii. Use lambda function with filter

li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

odd_lambda = list(filter(lambda x : True if x % 2 != 0 else False,li))

print(odd_lambda)

[5, 7, 97, 77, 23, 73, 61]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [8]:
def my_ops(L):
    s = 0
    c = 0
    Min = 0
    Max = 0
    for i in L:
        s = s + i
        c = c + 1
        Min = min(L)
        Max = max(L)
    Mean = s/c
    return (print(f'sum : {s}, count : {c}, min : {Min}, mean : {Mean}, max : {Max}'))
List =[12,11,45,65,22,13,74,88,99,51,42,55,41]

my_ops(List)

sum : 618, count : 13, min : 11, mean : 47.53846153846154, max : 99

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [20]:
import math as m

def area(shape,**kwargs):
    if shape == 'square':
        Square = kwargs['side']**2
        return print('Area of  Square :',Square)
        
    elif shape == 'circle':
        Circle = m.pi*kwargs['radius']*kwargs['radius']
        return print('Circumference of Cirle is :',Circle)

    elif shape == 'rectangle':
        Rectangle = kwargs['length']*kwargs['breadth']
        return print('Area of Rectangle is :',Rectangle)
   
    else:
        print('Please enter appropriate values and keys')

area('square',side = 21)
area('circle',radius = 62.4)
area('rectangle',length = 25, breadth = 10)

Area of  Square : 441
Circumference of Cirle is : 12232.607810841793
Area of Rectangle is : 250

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [48]:
# Defining a function func
def func(l1,l2):
    
    #Converting the lists into sets
    L1 = set(l1)
    L2 = set(l2)
    
    # To find the Intersection of two sets and converting back to list
    match = L1 & L2
    matched = list(match)
    
    # To find the Difference of two sets and converting back to list
    OnlyL1 = L1 - L2
    Only_L1 = list(OnlyL1)
    
    # To find the Difference of two sets and converting back to list
    OnlyL2 = L2 - L1
    Only_L2 = list(OnlyL2)
    
    print(f'Matched :{matched},\n Only in l1 : {Only_L1} \n  Only in l2 : {Only_L2} ')
    
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']

#Calling the function
func(l1,l2)

Matched :['January', 'December', 'February', 'June'],
 Only in l1 : ['March', 'May', 'September']
  Only in l2 : ['April', 'October']

Q13: write a UDF to check if a number is prime or not.

In [28]:
def Prime(x):
    if x > 1:
        for i in range(2,x):
            if (x % i)==0:
                return print('Entered Number is a Not a Prime')
            return print('Entered Number is a Prime')
        else:
            print('Invalid Number!')

Prime(10)
Prime(43)

Entered Number is a Not a Prime
Entered Number is a Prime

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [21]:
n = int(input('Enter the Number to find its Factorial :'))

f = 1
result = []

for i in range(1,n+1):
    f = f * i
    result.append(f)
print('Given Number : ',n)
print(f'Factorial of given numbers are : {result}')

Enter the Number to find its Factorial :5
Given Number :  5
Factorial of given numbers are : [1, 2, 6, 24, 120]

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [18]:
# Taking the range as input
Q15 = int(input('Enter the Range : '))

# Using dictionary
Dict_Q15 = {x : x**2 for x in range(1,Q15+1)}

# Printing the final result
Dict_Q15

Given Range :  8

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [22]:
#taking the numbers and saving them as list
List = list(input('Enter the numbers to be appending into tuple : ').split(','))

#Creating a new tuple by converting the list into tuple
Tuple = tuple(List)

#Printing both the list and tuple
print(List,Tuple)

Enter the numbers to be appending into tuple : 34,67,55,33,12,98
['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [15]:
# Taking input from the user and saving into a List Str
Str = input('Enter words serperated with comas :').split(',')

#Sorting the List
Str.sort()

#Printing the Result
print(','.join(Str))

Given Input :  without,hello,bag,world
bag,hello,without,world

Q18. Write a program that accepts a sequence of whitespace separated words 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [11]:
# Taking the input as default string and saving in Q18
Q18 = input("Enter some words with spaces : ")

# we are converting the string into a set by spliting with spaces and sorting it and saving the result in Q
Q = sorted(set(Q18.split(" ")))

# Printing the result with spaces and one single sentence
print(" ".join(Q))

Given Input :  hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [10]:
# Taking the string as input in Str
Str = input('Enter the Sentence in both upper case and lower case :')

# Making the inital count as 0
Upper = 0
Lower = 0

# Using for loop to find if the letter is upper case or lower case
for i in Str:
    if i.isalpha() == False:
        continue
    if i.isupper():
        Upper = Upper + 1
    else:
        Lower = Lower + 1
# Printing the result count        
print(f'UPPER CASE {Upper} LOWER CASE {Lower}')

Given Input :  Hello World! Welocome to Analytix Labs!
UPPER CASE 5 LOWER CASE 27

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [12]:
# Taking input string as x
x = input('Enter the string which it needs to be reversed : ')

#Using Slicers to print the string in reverse
x[::-1]

Enter the string which it needs to be reversed : abcd123

'321dcba'